.naglowek
{
	background-color:gray;
	border-width:2px;
	border-color:red;
}
#przyciski
{
        width:50%;

	color:black;
	display:block;
}
#ulepszszybkosc
{
width:50%;
}
#przycisk
{
	visibility:hidden;
}
#map
{
	
}
