#przyciski
{
	margin-left:auto;
	width:50%;
	border-radius:10px;
	background-color:red;
	color:yellow;
	height:30px;
	outline:none;
}
#ulepszszybkosc
{
	margin-left:auto;
	width:50%;
	border-radius:10px;
	background-color:red;
	color:yellow;
	height:30px;
	outline:none;
}
#ulepszklik
{
	margin-left:auto;
	width:50%;
	border-radius:10px;
	background-color:red;
	color:yellow;
	height:30px;
	outline:none;
    position:aboslute;
}
#map
{
	display:fixed;

}
.design
{
left:20px;
color:yellow;
bottom:400px;
}
.design2
{
left:20px;
color:yellow;
bottom:350px;
}
.design3
{
left:20px;
color:yellow;
bottom:300px;
}
