#przyciski
{
	margin-left:auto;
	width:50vw;
	border-radius:10px;
	background-color:red;
	color:white;
	height:50px;
	outline:none;
}
#ulepszszybkosc
{
	margin-left:auto;
	width:50vw;
	border-radius:10px;
	background-color:red;
	color:white;
	height:50px;
	outline:none;
}
#ulepszklik
{
	margin-left:auto;
	width:50vw;
	border-radius:10px;
	background-color:red;
	color:white;
	height:50px;
	outline:none;
    position:aboslute;
}
#map
{
	display:fixed;

}
.design
{
left:700px;
color:red;
}
.design2
{
left:700px;
color:red;

}
.design3
{
left:700px;
color:red;

}
